<div class="navbar navbar-fixed-bottom navbar-expand-sm navbar-light navbar-lewagon">
  <%# <div class="container-fluid navbar-width-100"> %>
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "wings.svg" %>
      <span class="brand-font"><%= "Returns Worth" %></span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <a href="" class="avatar ml-auto" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% if user_signed_in? && current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu"%>

      <% else %>
            <%= image_tag "https://www.nicepng.com/png/detail/804-8049853_med-boukrima-specialist-webmaster-php-e-commerce-web.png", class: "avatar", alt: "dropdown menu" %>
      <% end %>
      </a>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <% if current_user.warehouse_operator? %>
          <li class="nav-item active">
            <%= link_to "My returns", "/returns", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "logistic", "/logistics", class: "nav-link" %>
          </li>
          <% end %>
          <% if current_user.client_service_officer? %>
          <li class="nav-item active">
            <%= link_to "New return", "/returns/new", class: "nav-link" %>
          </li>
          <% end %>
          <li class="nav-item dropdown">
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>

            <% if user_signed_in? && current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu"%>
            <% else %>
                  <%= image_tag "https://www.nicepng.com/png/detail/804-8049853_med-boukrima-specialist-webmaster-php-e-commerce-web.png", class: "avatar", alt: "dropdown menu" %>
            <% end %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
