<div class="container">
  <div class="row">
    <div class="col-6 mx-auto my-5">
      <h1>Edit return</h1>

      <%= simple_form_for(@return, local: true) do |f| %>
        <%#= f.select :order_id, Order.all.pluck(:id, :order_number), prompt: "Select an Order", disabled: (current_user.warehouse_operator? && action_name == 'edit') %>

        <%= f.input :status %>

      <div class="d-block">
        <%= f.input :state %>
      </div>
      
      <div class="d-none">
        <%= f.input :comment %>
        <%= f.input :additional_cost %>
        <%= f.input :exception %>
        <%= f.input :restock %>
        <%= f.submit "Update Return" %>
        </div>
        <%# TODO Ajouter un formulaire nesté par return_item pour pouvoir editer au cas par cas %>

      <% end %>

      <%= link_to 'Back', returns_path %>
    </div>
  </div>
</div>
