<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 my-5">
      <div class="card shadow-lg">
        <div class="card-body">
          <%= simple_form_for(@return, local: true, data:{controller: "edit"} ) do |f| %>
            <h1 style="text-align:center;"> Order number : <%= f.object.order.order_number %></h1> <br>
            <div data-edit-target="div1" class="d-block text-center">
              <div class="button-wrapper" style="margin: 0 auto; display: flex; flex-direction: column; align-items: center; gap: 20px;">
                <%= link_to 'All good 👍', logistics_path, class: "btn btn-success", style: "font-size:30px; padding:50px 60px; width:250px; border-radius: 50px;" %>
                <div class="btn btn-warning" data-action="click->edit#showDiv1" style="font-size:30px; padding:50px 60px; width:250px; border-radius: 50px;"> Issue <br> ☠️ </div>
              </div>
            </div>
            <%# raise %>
            <% i = 0 %>
            <%= f.simple_fields_for :order do |order| %>
              <%= order.simple_fields_for :items do |item_form| %>
                <div id="item<%= i %>" class= "d-none" data-controller="additional-cost" style="text-align:center;" >
                  <%= item_form.object.name %>
                  <%= item_form.input :produit, item_wrapper_class: 'tag-item', input_html: { class: "tag-selector", data: { additional_cost_target: "produit", action: "change->additional-cost#editAdditionalCost1"} }, style: "20px; padding: 30px 90px;" %>
                  <%= item_form.input :emballage , item_wrapper_class: 'tag-item', input_html: { class: "tag-selector",data: { additional_cost_target: "emballage", action: "change->additional-cost#editAdditionalCost2"}} %>
                  <%= item_form.input :additional_cost, input_html: { class: "form-control", data: { additional_cost_target: "additionalCost"}, value: 0 }, readonly: true, wrapper_html: { class: 'form-group' }, style: "margin:20px auto; display:block; width:250px;" %>
                  <%= item_form.input :restock, as: :boolean, input_html: { class: "toggle" } %>
                  <div style="text-align:center; border-radius: 10px; margin-left: 20px; padding: 15px 115px;" class="btn btn-lg btn-warning" data-action="click->edit#showDiv2"> Next →</div>
                </div>
                <% i += 1 %>
              <% end %>
              <p data-edit-target="nbElements" class="d-none"><%= @return.items.count %></p>
            <% end %>
            <div data-edit-target="divFin" class="d-none">
              <%= f.input :comment, as: :text, input_html: { rows: 4, class: 'form-control' } %>
              <%= f.submit "Update Return", class: "btn btn-lg btn-warning", style:"text-align:center; border-radius: 10px; margin-left: 20px; padding: 15px 80px;" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
