<div class="container">
  <div class="row">
    <div class="col-6 mx-auto my-5">
      <h1>Edit return</h1>

      <%= simple_form_for(@return, local: true) do |f| %>
        <div class="d-block">
          <div class="button-wrapper">
            <%= link_to 'OK', returns_path %>
            <button id="problem-button">Problème</button>
          </div>
        </div>

        <div class="d-none" id="hidden-section-1">
          <%= f.input :comment, as: :text, input_html: { rows: 4 } %>
          <button>validé</button>
          <%= f.input :additional_cost, as: :boolean %>
          <%= f.input :restock, as: :boolean %>

          <%= f.input :additional_cost, as: :radio_buttons, collection: [[true, 'Oui'], [false, 'Non']] %>
          <%= f.input :restock, as: :boolean %>
          <%= f.submit "Update Return" %>
        </div>

        <%# TODO Ajouter un formulaire nesté par return_item pour pouvoir editer au cas par cas %>

      <% end %>

      <%= link_to 'Back', returns_path %>
    </div>
  </div>
</div>

<script>
 document.addEventListener('DOMContentLoaded', (event) => {
  document.getElementById('problem-button').addEventListener('click', function() {
    document.getElementById('hidden-section-1').classList.remove('d-none');
  });
});
</script>
