<div class="container mt-5 align-items-center justify-content-center" style="height: 100vh;">
  <div class="align-items-start">
    <% if current_user.role == "client_service_officer" %>
      <h1 class="mb-4 align-self-start">Congrats, your return is created !</h1>
    <% else %>
      <h1 class="mb-4 align-self-start">Let's recap !</h1>
    <% end %>
    <div class="card">
      <div class="card-header">
         <%= image_tag(@return.items.first.photo, :class => "xcard-img-top") if @return.items.first.photo.attached?%>
      </div>
        <div class="mt-4 d-flex justify-content-center" class="card-title" >Return ID : <%= @return.id %></div>
      </div>
      <div class="card-body">
        <p class="card-text">
          <div class="row">
            <div class="col-12 col-md-6 text-center">
              <strong>Order name</strong> <span class="mr-2"></span><i class="fa-solid fa-forward mx-2"></i> <%= @return.order.order_number %>
              <br>
              <strong>Status</strong> <span class="mr-2"></span><i class="fa-solid fa-forward mx-2"></i> <%= @return.status %>
              <br>
              <strong>nb Items</strong> <span class="mr-4"></span><i class="fa-solid fa-forward mx-2"></i> <%= @return.order.items.count %>
              <br>
              <strong>Last update</strong> <span class="mr-4"></span><i class="fa-solid fa-forward mx-2"></i> <%= @return.updated_at.strftime("%d/%m/%Y %H:%M") %>
            </div>
            <div class="col-12 col-md-6 text-center">
              <% @return.items.each do |item| %><br>
                  <i class="fa-solid fa-passport green"></i> <span class="mx-2"></span> <%= item.name %>
                  <% if current_user.role != "client_service_officer" && @return.status != "completed" %>
                    <br>
                      <i class="fa-solid fa-box fa-beat-fade" style="color: <%= item.produit? ? "green" : "purple" %>;"></i> <span class="mx-2"></span> <%= item.produit? ? "OK" : "Defective" %>
                      <br>
                      <i class="fa-solid fa-gift fa-beat-fade" style="color: <%= item.emballage? ? "green" : "purple" %>;"></i> <span class="mx-2"></span> <%= item.emballage? ? "OK" : "Defective" %>
                      <br>
                      <i class="fa-solid fa-recycle fa-beat-fade" style="color: <%= item.restock? ? "green" : "purple" %>;"></i> <span class="mx-2"></span> <%= item.restock? ? "Restored" : "Defective" %>
                      <br>
                      <i class="fa-sharp fa-solid fa-euro-sign fa-beat-fade" style="color: <%= item.additional_cost? ? "green" : "purple" %>;"></i> <span class="mx-2"></span> <%= item.additional_cost %>€
                      <br>
                  <% else %>
                    <%= image_tag "qr_codes/return-#{ @return.id }.png" %>
                  <% end %>
              <% end %>
            </div>
          </div>
          <% if current_user.role != "client_service_officer" && @return.status != "completed" %>
            <div class="row mt-3">
              <div class="col-md-12 text-center">
                <i class="fa-solid fa-pen-to-square" style="color: <%= @return.comment == 'OK' ? 'green' : 'purple' %>;"></i> <span class="mx-2"></span> <strong><em>Comment</em></strong> <span class="mx-2"></span><i class="fa-solid fa-forward"> </i> <span class="mx-2"></span> <%= @return.comment %>
              </div>
            </div>
          <% end %>
        </p>
      </div>
    </div>
    <div class="mt-4 d-flex justify-content-center">
      <% if current_user.warehouse_operator? %>
          <%= link_to 'Back to returns', logistics_path, class: 'btn btn-secondary' %>
      <% elsif current_user.client_service_officer?%>
          <%= link_to 'Back to orders', new_return_path, class: 'btn btn-secondary' %>
      <% end %>
    </div>
   </div>
</div>
