<div class="layout" style="padding-top: 0;">
  <div class="container align-items-center justify-content-center" style="padding-top: 0;">
    <div class="align-items-start">
      <% if current_user.role == "client_service_officer" && @return.status != "completed" %>
        <h1 class="mb-4 align-self-start">Congrats, your return is created !</h1>
      <% else %>
        <h1 class="mb-4 align-self-start">Let's recap !</h1>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="d-flex justify-content-between align-items-center">
            <p class="card-title" >Return ID : <%= @return.id %></p>
            <% unless @return.status.nil? %>
              <p class="status <%= @return.status == "completed" ? "green" : "purple"%>"><%= @return.status == "completed" ? "Completed" : "Unprocessed" %></p>
            <% else %>
              <p class="card-title">Order N°<%= @return.items.first.present? ? @return.order.order_number : 'N/A' %></p>
            <% end %>
          </div>
          <% if @return.status == "completed" %>
            <p class="card-title">Order N°<%= @return.items.first.present? ? @return.order.order_number : 'N/A' %></p>
          <% end %>
          <% if @return.status == "completed" %>
            <div class="row mt-3">
              <div class="col-md-12" style="border: 0.5px solid #D9DCDD; text-align: center; margin: 0px 20px; width: 89%; padding-top: 0px;">
                <p style="font-size: 18px; font-style: italic; margin: 5px;"><%= @return.comment %></p>
              </div>
            </div>
          <% end %>
          <% @return.items.each do |item| %><br>
            <% if @return.status == "completed" %>
              <div class="card-product">
                <% if item.photo.attached? %>
                  <%= image_tag item.photo, class: "img-left" %>
                <% else %>
                  <%= image_tag "carton-demenagement-vetements.png", class: "img-left" %>
                <% end %>
                <div class="card-product-infos">
                  <h2><%= item.name %></h2>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <p><%= image_tag item.produit? ? "true.png" : "false.png", class: "img-true-false" %>Product</p>
                      <p><%= image_tag item.emballage? ? "true.png" : "false.png", class: "img-true-false" %>Packaging</p>
                    </div>
                    <div>
                      <p><%= image_tag item.restock? ? "true.png" : "false.png", class: "img-true-false" %>Restock</p>
                      <p><%= image_tag item.additional_cost? ? "true.png" : "false.png", class: "img-true-false" %><%= item.additional_cost %>€</p>
                    </div>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="card-product">
                <%= image_tag "qr_codes/return-#{ @return.id }.png", class: "img-left"  %>
                <div class="card-product-infos">
                  <h2><%= item.name %></h2>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="d-flex justify-content-center mt-3" style="position: absolute; bottom: 75px; left: 0;">
            <% if current_user.warehouse_operator? %>
              <%= link_to 'Back to Returns', logistics_path, class: 'btn btn-lg btn-warning', style:"font-size: 22px;" %>
            <% elsif current_user.client_service_officer? %>
              <%= link_to 'Back to Orders', new_return_path, class: 'btn btn-lg btn-warning', style:"font-size: 22px;" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
