<div class="container">
  <h1>Return Details</h1>

  <div class="card">
    <% @return.items.each do |item| %>
      <%= image_tag(item.photo, :class => "xcard-img-top") if item.photo.attached?%>
      <p><%= item.name %></p>
    <% end %>
    <p>ID: <%= @return.id %></p>
      <div class="card-body">
        <p><a href="#" class="btn btn-success">Created at:</a>  <a href="#" class="btn btn-outline-secondary float-end">"<%= @return.created_at %>"</a></p>
        <p><a href="#" class="btn btn-warning">Updated at:</a>  <a href="#" class="btn btn-outline-secondary float-end">"<%= @return.updated_at %>"</a></p>
        <p class="mt-auto"><a href="#" class="btn btn-success">OK</a>  <a href="#" class="btn btn-warning float-end">OUPS</a></p>
      </div>
  </div>
</div>

    <div class="mt-4">
    <% if current_user.warehouse_operator? %>
        <%= link_to 'Back to returns', returns_path, class: 'btn btn-secondary' %>
    <% elsif %>
    <% current_user.client_service_officer?%>
    <%= link_to 'Back to orders', new_return_path, class: 'btn btn-secondary' %>
    <% end %>
    </div>
