<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Return details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Return details</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Return ID : <%= @return.id %></h5>
            <p class="card-text">
                <strong>Date and time of creation :</strong> <%= @return.created_at.strftime("%d/%m/%Y %H:%M") %><br>
                <strong>Last update:</strong> <%= @return.updated_at.strftime("%d/%m/%Y %H:%M") %>
            </p>
        </div>
    </div>
    <div class="mt-4">
    <% if current_user.warehouse_operator? %>
        <%= link_to 'Back to returns', returns_path, class: 'btn btn-secondary' %>
    <% elsif %>
    <% current_user.client_service_officer?%>
    <%= link_to 'Back to orders', new_return_path, class: 'btn btn-secondary' %>
    <% end %>
    </div>


<% @return.items.each do |item| %>
  <%= image_tag item.photo if item.photo.attached? %>
  <p><%= item.name %></p>
<% end %>


