<h1>Return Details</h1>
<p>ID: <%= @return.id %></p>
<p>Created at: <%= @return.created_at %></p>
<p>Updated at: <%= @return.updated_at %></p>

<% @return.items.each do |item| %>
  <%= image_tag item.photo if item.photo.attached? %>
  <p><%= item.name %></p>
<% end %>

<%#= link_to 'Back to Returns List', returns_path %>
<a href="returns/edit" type="button" class="btn-lg btn-block mx-auto w-50 py-8 bg-primary p-6">Start Scanning</a>
<a href="/returns" type="button" class="btn-lg btn-block mx-auto w-50 py-8 bg-warning p-6">Start Scanning</a>
