<!DOCTYPE html>
<html>
  <head>
    <title>Returnsworth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>




    <%= display_meta_tags %>
    <%= display_meta_tags(default_meta_tags) %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <% unless controller_name == "pages" && action_name == "home" %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>

    <div class="<%= controller_name == "pages" && action_name == "home" ? "" : "layout" %>">
        <%= yield %>
    </div>
  </body>
</html>
